<div class="col-lg-12 mb-5">
  <div class="card rounded-0 mt-5 mb-5">
    <div class="card-body">
      <h2 class="text-center">Edit Employee Information</h2>
    </div>
  </div>
  <%= render 'form', employee: @employee %>
</div>
